/* {
    border: 1px solid red;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px 100px 0;
}

.hero,
.footer {
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;  
    margin-bottom: 100px;
}

.logo {
    width: 100px;
    height: auto;
    align-self: center;
}

.media {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

ul {
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hlinks,
.subtxt {
    font-size: 18px;
    color: #e5e7eb;
}

.himg {
    max-width: 600px;
    height: auto;
}

.media2 {
    display: flex;
    justify-content: space-between;
}

.htext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 30px;
}

.maintxt {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 20px;
}

.subtxt {
    text-align: justify;
}

.htext button {
    background: #3882f6;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 14px;
    color: #f9faf8;
    font-weight: bold;
}

.activity {
    padding: 10px 100px 0;
    text-align: center;
}

.ccontainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.media3 {
    display: flex;
    flex-direction: column;
}

.media3 img {
    flex-grow: 1;
    width: 250px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.mtxt {
    padding: 5px;
}

.blockquote {
    padding: 20px 100px;
    background: #e5e7eb;
}

.inspire {
    padding: 10px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.blockquote footer {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    text-align: right;
}

.promo {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    background: #3882f6;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    width: 900px;
    border-radius: 20px;
}

.discount button {
    padding: 5px 10px;
    border-radius: 8px;
    background: #3882f6;
}

.footer {
    padding: 10px 100px;
    text-align: center;
    color: #e5e7eb;
}